<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-add-form></app-add-form>
  </div>
</nav>

<app-search-bar></app-search-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <app-prio-list class="my-1"></app-prio-list>
    </div>
    <div class="col-md">
      <app-todo-list class="my-1"></app-todo-list>
    </div>
  </div>
</div>
